<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
    <link href="/assets/css/404.css" rel="stylesheet"/>
</head>
<body>
    <div class="main">
        <img style="position:fixed; height:100%;z-index: -1;" src="/assets/img/logo1.png" alt="">
        <div>
            <div class="dsa0">
                <div class="inline dsa1"></div>
                <div class="inline"><span class="dsa2">PAGE NOT FOUND</span><br/><span class="dsa3">404</span></div>
            </div>
        </div>
    </div>
</body>
</html>