<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penguin Logistics</title>
    <link href="/assets/css/style.css" rel="stylesheet"/>
    <link href="/assets/css/adduser.css" rel="stylesheet"/>
    <link rel="icon" href="/assets/img/logo2.png">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main">
        <img style="position:fixed; height:100%;z-index: -1;" src="/assets/img/logo1.png" alt="">
        <div>
            <div>
                <div class="dsa0">
                    <div class="inline dsa1"></div>
                    <div class="inline"><span class="dsa2">PENGUIN LOGISTICS</span><br/><span class="dsa3">ADDUSER</span></div>
                </div>
                <br/>
                <div class="asd0">
                    <form action="" method="post">
                        <div class="asd1">USERNAME</div>
                        <input name="username" type="text" class="asd2"><br/><br/>
                        <div class="asd1">PASSWORD</div>
                        <input name="password" type="password" class="asd2"><br/><br/>
                        <div class="asd1">ROLE</div>
                        <select name="role" class="asd2">
                            <option value="admin">ADMIN</option>
                            <option value="courier">COURIER</option>
                        </select><br/><br/>
                        <div class="asd1">PLACE</div>
                        <select name="provinsi" id="provinsi" class="asd2"></select>
                        <select name="kota" id="kota" class="asd2"></select>
                        <br/><br/>
                        <button class="asd3">ADD</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/assets/js/lib.js"></script>
<script src="/assets/js/adduser.js"></script>
</html>