<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penguin Logistics</title>
    <link href="/assets/css/style.css" rel="stylesheet"/>
    <link href="/assets/css/admin-storage.css" rel="stylesheet"/>
    <link rel="icon" href="/assets/img/logo2.png">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <div id="modal-frame" class="main" style="display: none;">
        <div>
            <div>
            <div id="close-button-1">&#10006;</div>
            <div class="asd0">
                <div class="sad0">FORM</div>
                <hr class="sad1"/>
                <div id="modal-form" class="sad2">
                </div>
            </div>
            </div>
        </div>
    </div>
    
    <div id="menu-button">&#9776;</div>

    <div id="black-cover" style="position: fixed;height: 100%;width: 100%;background-color: rgba(0, 0, 0, .8);display:none;"></div>
    <div id="menu-bar" style="left:-300px">
        <img style="width:100%;" src="/assets/img/logo2.png" alt="">
        <ul>
            <li><a href="/admin/">STORAGE</a></li>
            <li><a href="/admin/incoming">INCOMING</a></li>
            <li><a href="/admin/outcoming">OUTCOMING</a></li>
        </ul>
        <div id="base-location">asd</div>
        <div id="close-button-2">&#10006;</div>
    </div>
    <img style="position:fixed; height:100%;z-index: -1;" src="/assets/img/logo1.png" alt="">
    <div class="container">
                <div class="dsa0">
                    <div class="inline dsa1"></div>
                    <div class="inline"><span class="dsa2">PENGUIN LOGISTICS</span><br/><span class="dsa3">STORAGE</span></div>
                    <div class="dsa4" id="count-display">0<br/></div>
                </div>
                <br/>
                <div class="asd0">
                    <div>
                        <div class="inline" style="width:65%">
                            <input id="search" type="text" class="asd2" placeholder="SEARCH" style="width:100%;">
                        </div>
                        <div class="inline" style="width:30%;text-align: center;">
                            <button name="search" id="search-button" class="asd3">SEARCH</button>
                        </div>
                    </div>
                    <div style="overflow: scroll;">
                        <table id="table">
                            
                        </table>
                    </div>
                </div>
    </div>
    <script src="/assets/js/lib.js"></script>
    <script src="/assets/js/admin-storage.js"></script>
</body>
</html>