<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penguin Logistics</title>
    <link href="/assets/css/style.css" rel="stylesheet"/>
    <link href="/assets/css/customer.css" rel="stylesheet"/>
    <link rel="icon" href="/assets/img/logo2.png">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
</head>
<body>
    <div id="modal-frame" class="main" style="display:none">
        <div>
            <div>
                <div id="close-button">&#10006;</div>
                <div class="asd0">
                    <div class="sad0">RESULT</div>
                    <hr class="sad1"/>
                    <div id="modal-window" class="sad2">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <img style="position:fixed; height:100%;z-index: -1;" src="/assets/img/logo1.png" alt="">
        <div>
            <div>
                <div class="dsa0">
                    <div class="inline dsa1"></div>
                    <div class="inline"><span class="dsa2">PENGUIN LOGISTICS</span><br/><span class="dsa3">TRACKING</span></div>
                </div>
                <br/>
                <div class="asd0">
                    <form id="form-track">
                        <div class="asd1">ENTER YOUR TRACK NUMBER</div>
                        <input id="input-track" class="asd2"><br/><br/>
                        <button type="submit" class="asd3">TRACK</button><br/><br/>
                    </form>
                </div>
                <div style="color:white;margin-top: 10px;">Or Sign In <a href="/admin" style="text-decoration: none;color:crimson;cursor:pointer;">Here</a> as Admin and <a href="/postman" style="text-decoration: none;color:crimson;cursor:pointer;">Here</a> as Postman</div>
            </div>
        </div>
    </div>
    <template id="error-template">
        <div class="modal-error">
            <div>ERROR : </div>
            <div>INVALID TRACKING NUMBER</div>
        </div>
    </template>
    <script src="/assets/js/lib.js"></script>
    <script src="/assets/js/customer.js"></script>
</body>
</html>