.main{
    color:white;
    background-color:mediumblue;
    height:100%;
    position: fixed;
    width: 100%;
    display: table;
    vertical-align: middle;
}
.main > div{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.main > div > div{
    display: inline-block;
    vertical-align: top; 
}
.dsa0{
    text-align:left; 
    margin-bottom: -10px;
}
.dsa1{
    margin-right:10px;
    width:7px;
    height:80px;
    background-color:crimson;
}
.dsa2{
    font-family: 'Raleway', sans-serif; 
    font-size: 24px;
}
.dsa3{
    font-size:51px;
    font-family: 'Raleway', sans-serif;
}
.asd0{
    background-color:white;
    border-radius: 10px; 
    padding:25px; 
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, .2), 0 2px 4px 1px rgba(0, 0, 0, .2);
}
.asd1{
    font-family: 'Raleway', sans-serif; 
    text-align: left; 
    color:#222; 
    margin-bottom:10px;
    font-size:20px;
}
.asd2{
    border:none;
    background-color:#eee;
    padding: 7px 20px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 20px;
    outline: none;
    border: none;
    border-top: 1px inset #eee;
    width:100%;
}
.asd3{
    font-family: 'Raleway', sans-serif; 
    background-color:crimson;
    color:white;
    border:none;
    padding:10px 50px;
    font-size:20px;
    border-radius: 100px;
    outline: none;
    cursor: pointer;
}
.asd3:active{
    color:lavender;
}